.mat-card-avatar {
    border-radius: 50%;
}

mat-card {
    background-color: #ffd289;
    width: 350px;
    height: 350px;
    position: relative;
    display:  flex;
    border-radius: 20px;
    box-shadow: 10em;
    color: black;
    align-items: center;
    flex-direction: column;
    transition: box-shadow 0.3s ease-in-out;
}

mat-card-content {
    overflow-wrap: break-word;
}

img{
    border-radius: 125px;
    width: 250px;
    height : 250px;
    margin-bottom: 10px;
}

mat-card:hover{
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

/* mat-card-content{
    padding-top: 10px;
} */