.bordered-card {
  border: 1px solid #000000; /* You can customize the border style */
  min-width: 90%;
  border-radius: 20px;
  margin: 16px;
  align-items: center;
  background-color: rgba(0,0,0,0.05);

}

.centered-container {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  margin: 16px;
  
}

.teamlead-header-image {
  background-image: url("https://img.freepik.com/free-vector/illustration-businessman_53876-5856.jpg?w=826&t=st=1696930072~exp=1696930672~hmac=0ab3ca2fa93c6c8c3caf3275db32ee9f8648ba74e1eb66c88b2c9ec7bb8a1116");
  background-size: cover;
}

.about-list {
  width: 100%;
}

.about-grid {
  width: 100%;
}


.bordered-card-text{
    width: 80%;
    border: 1px solid #000000; /* You can customize the border style */
    border-radius: 20px;
    align-items: center;
    margin: 16px;    display: flex;
    padding: 32px;
    justify-content: center;
    display: flex;
    background-color: rgba(255,142,0,0.5);
}

  
  
  
  
  
.text-card-div{
    display: flex;
    justify-content: center;
}

.about-banner{
  margin: 0px;
}