<div class="centered-container">
  <mat-list role="list" class="about-list">
    <div class="text-card-div">
      <mat-card class="bordered-card-text">
        Welcome to Baravans!
        <br />
        Discover the world on wheels, through the pages of a book, or with
        captivating movies. We are passionate about enabling people to explore
        and learn new things, and our wide range of products is designed to
        cater to the adventurous spirit within you. From bikes that take you on
        exhilarating rides to books that transport you to distant lands, and
        DVDs that immerse you in extraordinary stories - Baravans has it all.
      </mat-card>
    </div>
    <mat-card class="bordered-card">
      <mat-card-header>
        <mat-card-title>Frontend</mat-card-title>
        <mat-card-subtitle>Nayan Chordia</mat-card-subtitle>
        <div mat-card-avatar class="teamlead-header-image"></div>
      </mat-card-header>
      <mat-grid-list cols="3" class="about-grid">
        <mat-grid-tile
          ><app-team-member-card></app-team-member-card
        ></mat-grid-tile>
        <mat-grid-tile
          ><app-team-member-card></app-team-member-card
        ></mat-grid-tile>
        <mat-grid-tile
          ><app-team-member-card></app-team-member-card
        ></mat-grid-tile>
        <mat-grid-tile
          ><app-team-member-card></app-team-member-card
        ></mat-grid-tile>
      </mat-grid-list>
    </mat-card>

    <mat-card class="bordered-card">
      <mat-card-header>
        <mat-card-title>Middleware</mat-card-title>
        <mat-card-subtitle>Senthooran B</mat-card-subtitle>
        <div mat-card-avatar class="teamlead-header-image"></div>
      </mat-card-header>
      <mat-grid-list cols="3" class="about-grid">
        <mat-grid-tile
          ><app-team-member-card></app-team-member-card
        ></mat-grid-tile>
        <mat-grid-tile
          ><app-team-member-card></app-team-member-card
        ></mat-grid-tile>
        <mat-grid-tile
          ><app-team-member-card></app-team-member-card
        ></mat-grid-tile>
        <mat-grid-tile
          ><app-team-member-card></app-team-member-card
        ></mat-grid-tile>
      </mat-grid-list>
    </mat-card>

    <mat-card class="bordered-card">
      <mat-card-header>
        <mat-card-title>Backend</mat-card-title>
        <mat-card-subtitle>Akhil</mat-card-subtitle>
        <div mat-card-avatar class="teamlead-header-image"></div>
      </mat-card-header>
      <mat-grid-list
        cols="3"
        class="about-grid"
      >
        <mat-grid-tile class="grid-tile"
          ><app-team-member-card></app-team-member-card
        ></mat-grid-tile>
        <mat-grid-tile
          ><app-team-member-card></app-team-member-card
        ></mat-grid-tile>
        <mat-grid-tile
          ><app-team-member-card></app-team-member-card
        ></mat-grid-tile>
        <mat-grid-tile
          ><app-team-member-card></app-team-member-card
        ></mat-grid-tile>
        <mat-grid-tile
          ><app-team-member-card></app-team-member-card
        ></mat-grid-tile>
        <mat-grid-tile
          ><app-team-member-card></app-team-member-card
        ></mat-grid-tile>
        <mat-grid-tile
          ><app-team-member-card></app-team-member-card
        ></mat-grid-tile>
        <mat-grid-tile
          ><app-team-member-card></app-team-member-card
        ></mat-grid-tile>
      </mat-grid-list>
    </mat-card>
  </mat-list>
</div>

