<main class="landing-page">
  <section class="hero">
    <div class="container">
      <h1 class="hero-title">Baravan: Explore and Learn with Us</h1>
      <p class="hero-subtitle">
        We sell bikes, books, DVDs, and other products for people who love to
        explore and learn new things.
      </p>

      <button class="hero-button">Shop Now</button>
    </div>
  </section>
  <section class="products">
    <div class="container">
      <h2 class="products-title">Our Products</h2>
      <div class="products-grid">
        <article class="product-card">
          <div class="img-container">
            <img
              src="https://res.cloudinary.com/dzs2aqnyc/image/upload/v1696997071/fidzulu/ljogcaaovuq5yd6tofnt.png"
              alt="Bike"
              class="product-image"
            />
          </div>
          <h3 class="product-name">Bike</h3>
          <p class="product-price">$299.99</p>
          <a href="#" class="product-link">Buy Now</a>
        </article>
        <article class="product-card">
          <div class="img-container">
            <img
              src="https://res.cloudinary.com/dzs2aqnyc/image/upload/v1696997070/fidzulu/hgnvbumpjbrcditkcxsd.jpg"
              alt="Book"
              class="product-image"
            />
          </div>
          <h3 class="product-name">Book</h3>
          <p class="product-price">$19.99</p>
          <a href="#" class="product-link">Buy Now</a>
        </article>
        <article class="product-card">
          <div class="img-container">
            <img
              src="https://res.cloudinary.com/dzs2aqnyc/image/upload/v1696997071/fidzulu/xehh63snmijkobn6hxqq.jpg"
              alt="Laptop"
              class="product-image"
            />
          </div>
          <h3 class="product-name">Laptop</h3>
          <p class="product-price">$199.99</p>
          <a href="#" class="product-link">Buy Now</a>
        </article>
      </div>
    </div>
  </section>
  <section class="testimonial">
      <h2 class="testimonial-title">What Our Customers Say</h2>
      <div class="testimonial-container">
      <div class="testimonial-slider">
        <article class="testimonial-card">
          <div class="customer-img-container">
            <img
              src="https://res.cloudinary.com/dzs2aqnyc/image/upload/v1696997070/fidzulu/puyfz248xn66xzekkwe8.jpg"
              alt="Customer"
              class="customer-image"
            />
          </div>
          <blockquote class="customer-quote">
            "I recently purchased a bike from Baravans, and I am absolutely
            thrilled with my purchase. I was able to find the perfect one that
            suited my needs and preferences. The ordering process was
            straightforward, and I appreciated the detailed specifications and
            customer reviews, which helped me choose the right bike for my
            requirements. Baravans is awesome! "
          </blockquote>
          <cite class="customer-name">- Brad Gillespie</cite>
        </article>
        <article class="testimonial-card">
          <div class="customer-img-container">
            <img
              src="https://res.cloudinary.com/dzs2aqnyc/image/upload/v1697085439/fidzulu/utvorolfhu1gpoigh5tb.jpg"
              alt="Customer"
              class="customer-image"
            />
          </div>

          <blockquote class="customer-quote">
            "I recently purchased a book from Baravans, and I couldn't be
            happier with my experience. The selection of books on their website
            is extensive and diverse, making it easy to find exactly what I was
            looking for. The ordering process was smooth, and I appreciated the
            detailed book descriptions and reviews provided, which helped me
            make an informed choice. Thank you, Baravans, for your exceptional
            service!"
          </blockquote>
          <cite class="customer-name">- Raghav Khanna</cite>
        </article>
        <article class="testimonial-card">
          <div class="customer-img-container">
            <img
              src="https://res.cloudinary.com/dzs2aqnyc/image/upload/v1697085438/fidzulu/jnhegmn5lgceja4ippfq.webp"
              alt="Customer"
              class="customer-image"
            />
          </div>

          <blockquote class="customer-quote">
            "I recently ordered a DVD from Baravans, and the whole experience
            was fantastic. The website is user-friendly and offers a wide range
            of DVDs to choose from. I was able to easily navigate through the
            categories and find the exact movie I was looking for. The detailed
            information and customer reviews on the product pages were extremely
            helpful in making my decision. I simply love Baravans!"
          </blockquote>
          <cite class="customer-name">- Emma Joseph</cite>
        </article>
      </div>
    </div>
  </section>
</main>
